.papa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2020/12/16/00/10/home-5835289_1280.jpg);
    backdrop-filter: blur(12px);
}
.signUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    background: transparent;
    backdrop-filter: blur(12px);
    width: 400px;
    height: 600px;
    /* border: 2px solid #ffd700; */
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15)
}
.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    background: transparent;
    backdrop-filter: blur(12px);
    width: 400px;
    height: 500px;
    /* border: 2px solid #ffd700; */
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15)
}
.heading{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    animation: lefttoright 1s ease-in forwards;
}
@keyframes lefttoright{
    0%{opacity: 0;
        transform: translateY(-100%);
    }
    100%{opacity: 1;
        transform: translateY(0%);
    }
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    animation: downtoup 1s ease forwards;
    color: rgb(4, 4, 4);
}
@keyframes downtoup{
    0%{ opacity: 0;
        transform: translateY(200%);
    }
    100%{opacity: 1;
        transform: translateY(0%);
    }
}
.paragraph{
    font-size: 20px;
    font-weight: 500;
    color: rgb(3, 3, 3);
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    animation: downtoup 1s ease forwards;
}
.start{
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 5, 5);
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    animation: downtoup 1s ease forwards;
    
}
.input{
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
    background:transparent;
    
}
.btn{
    width: 300px;
    height: 40px;
    border: none;
    background-color: #D4AF37;
    color: #050505;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.btn:hover{
    background-color: #555;
}
.link{
    font-size: 18px;
    font-weight: 500;
    color: rgb(7, 7, 7);
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
    animation: downtoup 2s ease forwards;
}