.container{
    background-color: #2B4C67;
}
.about{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    height: 635px;
    transform: translateY(20px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
}
.fadeIn {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
}
  
.fadeOut {
    opacity: 0.1;
    transform: translateX(-20px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
}
.title{
    font-size: 150px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #CBB492;
}
.description{
    font-size: 20px;
    font-weight: 400;
    color: #CBB492;
}
.content{
    display: flex;
    margin-left: auto;
    width: 100%;
    height: 235px;
    color: #CBB492;
    transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
}
.fadeInpara {
    opacity: 1;
    transform: translateX(0);
  }
  
  .fadeOutpara {
    opacity: 0;
    transform: translateX(20px);
  }
.para{
    font-size: 30px;
    font-weight: 400;
    color: #CBB492;
    margin-left: auto;
    margin-right: 20px;
}
.image{
    width: 520px;
    height: 280px;
    margin-top: 20px;
}
.imageContainer{
    padding: 30px;
}
.teamTitle{
    font-size: 50px;
    font-weight: 700;
    color: #CBB492;
    margin: 20px;
    padding: 10px;

}
.para2{
    font-size: 20px;
    font-weight: 400;
    color: #CBB492;
    margin: 20px;
    padding: 10px;
}
.teamContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 700px;
    background-color: #2B4C67;
}
.teamCard{
    background-color:#14232F;
    width: 1440px;
    height: 610px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-right: 130px; */
}
.team{
    margin-bottom: 50px;
}
.Footer{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    font-size: 50px;
    color: #CBB492;
}
.contact{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 20px;
    font-size: 20px;
    color: #CBB492;
}
.contactInfo{
    margin-top: 100px;
    margin-right: 40px;
}
.contactText{
    font-size: 20px;
    color: #CBB492;
    margin: 20px 20px 20px 20px;
}
@media screen and (max-width: 768px){
    .about, .title, .description, .content, .para {
        display: none;
    }
}
