/* General Navbar Styles */
.navigation {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logocontainer{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Logo */
.logo {
    width: 47px;
    height: 52px;
    margin-left: -120px;
    margin-top: 10px;
    position: absolute;
    z-index: 1000;
    transform: translateY(-17px);
    color: #E3A857;
}
.logolink{
    text-decoration: none;
    color: #E3A857;
}

/* Navigation Links */
.links {
    display: flex;
    margin-left: 72px;
}

.list {
    margin-left: 1rem;
    list-style: none;
    text-decoration: none;
}

.text {
    text-decoration: none;
    color: #000;
    margin-left: 1rem;
    margin-right: 10px;
    transition: all 0.4s ease;
}

.text:hover {
    color: #E3A857;
    scale: 1.05;
}

/* Button */
.btn {
    background-color: #E3A857; /* Light brown/gold background */
    color: black; /* Black text */
    padding: 10px 20px; /* Spacing around text */
    border: none; /* Remove default border */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    text-transform: uppercase; /* Uppercase text */
}

.btn:hover {
    background-color: #D09145;
}
.btn:hover {
    background-color: #D09145;
}

/* Hamburger Menu (Hidden by Default) */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid #E3A857;
    cursor: pointer;
    aspect-ratio: 3/2;
    position: absolute;
    margin-top: -10px;
}
.dp:hover{
    border: 2px solid #D09145;
    background-color: #E3A857;
}
/* Responsive Design */
@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
    .logo {
        position: relative;
        margin-left: auto;
    }

    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        color: white;
        background-color: black;
        padding: 1rem 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: all 1s ease;
    }
    .text{
        color: white;
    }
    .links:hover{
        color: #E3A857;
    }
    .text:hover {
        color: #E3A857;
    }

    .showMenu {
        display: flex;
        transition: all 1s ease;
    }

    .list {
        margin: 1rem 0;
    }

    .rightpart {
        display: none;
    }

    .hamburger {
        display: inline;
        margin-right: 0;
        margin-left: auto;
        transition: all 1s ease;
    }
}

